title #{title}
meta( charset='utf8' )

link( href= rootPath + 'assets/styles/main.css' rel='stylesheet' type='text/css' )

if googleFonts
	link( href= googleFonts rel='stylesheet' type='text/css' )

script( src= rootPath + 'assets/js/main.js' type='text/javascript' )
