- var googleFonts = 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

block vars

doctype html
html(lang='en')
	head
		include _partial/head
	body
		include _partial/header

		block content

		include _partial/footer
